{% extends "base.html" %}


{% block content %}
{% if endpoint == '/blog' %}
<h1 style="font-size:2.5em">BLOG$</h1>
{% elif endpoint == '/myblog' %}
<h1 style="font-size:2.5em">MY BLOG$</h1>
{% endif %}


{% if blogs|length == 0 %}
    <h2>No blogs yet!</h2>
{% else %}


    {% for blog in blogs %}
    <h2><a href="./post?id={{blog.id}}">{{blog.name}}</a></h2>
    <p><em>Posted by {{blog.owner.email}}</em></p>
    <p>{{blog.body}}</p>
    <hr />
    {% endfor %}
        

{% endif %}
{% endblock %}