{% extends "base.html" %}


{% block content %}
{% if endpoint == '/blog' %}
<h1 style="font-size:2.5em">BLOG$</h1>
{% elif endpoint == '/myblog' %}
<h1 style="font-size:2.5em">MY BLOG$</h1>
{% elif endpoint == '/userblog' %}
<h1 style="font-size:2.5em">{{owner.username}}'s BLOG$</h1>
{% endif %}


{% if blogs|length == 0 %}
    <h2>No blogs yet!</h2>
{% else %}


{% for blog in blogs %}
    <hr />
    {% if endpoint != '/userblog' %}
    <p><em>posted by <a href="./userblog?id={{blog.owner.id}}">{{blog.owner.username}}</a></em></p>
    {% endif %}
    <h2><a href="./post?id={{blog.id}}">{{blog.name}}</a></h2>
    <p>{{blog.body}}</p>
    <hr />
{% endfor %}


{% endif %}
{% endblock %}
