<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            .success{
                color: green;
            }
        </style>
    </head>
<body style="background-color:coral">
    <nav>
      {% if endpoint != '/login' and endpoint != '/register' %}
        <ul>
            <li><a href="./logout">Log Out</a></li>
            <li><a href="./myblog">My Blog</a></li>
            <li><a href="./newblog">New Post</a></li>
            <li><a href="./users">Users</a></li>
        {% endif %}
            <li><a href="./login">Log In</a></li>
            <li><a href="./blog">Home</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    <footer>
        <br>
        <br>
        <br>


    </footer>
</body>
</html>
